@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.score-board{
    position: absolute;
    top: 0;
    left: 0;
    color: #c8b029;
    font-family: 'VT323', monospace;
    z-index: 1;
}
